<section class="container">
    <h2 class="text-center pb-5">Shopping List</h2>

    <form class="row">
            <input class="form-control" placeholder="Add" />
    </form>

    <div class="row mt-5">
        <ul class="list-group p-0">
            <li class="list-group-item">Chicken</li>
            <li class="list-group-item">Chicken</li>
            <li class="list-group-item">Chicken</li>
            <li class="list-group-item">Chicken</li>
            <li class="list-group-item">Chicken</li>
        </ul>
    </div>
</section>
